$lgray: #f4f4f9;
$gray: #6e8999;
$dgray: #2f4550;
$primary: #a7cced;
$primary-hover: #76abda;
$green: #0daf4e;
$red: #d17c95;

body {
  font-family: sans-serif;
  margin: 0;
  background-color: $gray;
}
::selection {
  background-color: $primary;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
h1,
h2 {
  text-align: center;
}
h2 {
  margin: 0;
}
.text-box {
  width: 100%;
  .row {
    @media (max-width: 550px) {
      flex-direction: column;
    }
  }
}
.char-count {
  font-size: 1.2rem;
}
textarea {
  width: 99%;
  font-family: sans-serif;
  font-size: 1.1rem;
  resize: vertical;
  background-color: $lgray;
  outline: none;
  &:focus-visible {
    outline: 2px solid $dgray;
  }
}
#controls {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  max-width: 100%;
  p {
    font-size: 1.2rem;
    margin: 0 10px 0 0;
    @media (max-width: 800px) {
      min-width: 100px;
    }
  }
}
.mode.row {
  flex-grow: 0.8;
  gap: 15px;
  margin-right: 20px;
  label {
    font-size: 1.1rem;
  }
}
input[type="text"] {
  height: 2.5rem;
  max-width: 97%;
  font-size: 1.2rem;
  margin-right: 15px;
  background-color: $lgray;
  outline: none;
}
input[type="radio"] {
  accent-color: $primary;
  margin: 0;
}
.outer-row {
  padding: 0 10px;
  margin: 0;
  border: 2px solid $lgray;
  background-color: $dgray;
  color: $lgray;
}
i {
  font-size: 1.8rem;
  margin: 10px 15px 10px 0;
  &:hover {
    transform: scale(1.2);
    transition: 0.4s;
  }
}
.add-row {
  color: $green;
}
.delete-row,
.delete-pattern {
  color: $red;
}

button {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1rem;
  width: 200px;
  border: 1px solid black;
  background-color: $primary;
  transition: background-color 0.5s;
  &:hover {
    background-color: $primary-hover;
  }
}

#clear-btn,
#copy-btn {
  display: block;
  margin: 1rem auto;
  font-size: 1rem;
}

#copy-btn.success {
  background-color: $green;
}
#copy-btn.failure {
  background-color: $red;
}

#save-button {
  width: auto;
}

.button-row {
  gap: 1rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dgray;
  color: $lgray;
  border: 2px solid $lgray;
  padding: 20px;
  border-radius: 10px;
  .row {
    flex-wrap: nowrap;
  }
  label {
    font-size: 1.1rem;
  }
  input {
    margin: 10px 0;
    border: 1px solid black;
  }
  button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 0;
    width: auto;
    flex-grow: 1;
  }
  i {
    margin: 0 0 0 15px;
  }
}

#save-modal .modal-content {
  width: min(70%, 630px);
}
#load-modal .modal-content {
  width: min(70%, 500px);
}
